.res_tb {
    margin: 20px 0;
}
.res_tb_head {
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    background-color: #e0f6ff;
}
.res_tb_left {
    width: 100px;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
}

.res_tb_right {
    font-size: 16px;
}

.res_tb_img {
    width: 257px;
    height: 337px;
}

.res_tb_img img {
    width: 240px;
    height: 320px;
}